header {
  background-color: rgba(234, 241, 248, 1.0);
  position: relative;
  top: -21px;

}

.author_query {
  width: 30%;
  display: inline-block;
  margin: 0 auto;
}

ul {
  border: 1px solid black;
}

.siteName {
display: inline-block;
outline: 1px solid black;

}

nav {
  float: right;
}

nav li {
  display: inline-block;
  border: 1px solid black;
  margin: 10px;
}
